* {
    --frosted-glass-1: rgba(255,255,255,0.05);
    --frosted-glass-2: rgba(255,255,255,0.1);
}


#timeline {
    border-left: solid 4px var(--text-paragraph);
}

.timeline-item {
    margin-left: var(--spacing-small);
    padding: var(--spacing-small);
    border: solid 1px transparent;
    transition: all .25s ease-out;
}

.timeline-item:hover {
    background: var(--frosted-glass-1);
    border: 1px solid var(--frosted-glass-2);
    border-radius: 8px;
    padding: var(--spacing) var(--spacing-small);
    cursor: default;
    margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-small);
}

.timeline-item:hover .timeline-item-desc-wrapper {
    display: block;
    visibility: visible;
    opacity: 1;
}

.timeline-item:hover .timeline-expand {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.timeline-item-name, .timeline-item-date, .timeline-item-desc, .timeline-item-loc {
    margin: 0 !important;
}

.timeline-item-type {
    background: var(--frosted-glass-2);
    border: 2px solid var(--frosted-glass-2);
    color: var(--text-title);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 999px;
    width: fit-content;
    padding: 2px 8px;
    font-size: small;
    /*margin-left: -10px;*/
    margin-left: 8px;
}

.timeline-item-date {
    font-size: small;
}

.timeline-item-loc {
    font-size: small;
}

.timeline-item-desc-wrapper {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all .25s;
    height: fit-content;
    margin-top: var(--spacing-small);
}

.timeline-expand {
    transition: all .25s;
    margin-top: 8px;
}

.timeline-item-header {
    margin-bottom: 4px;
}