#background-element-wrapper {
    opacity: 0;
    transition: all 5s ease-in-out;
}

.background-element {
    border-radius: 50%;
    box-shadow: 0 0 30svh 30svh var(--background-alt);
    float: left;
    height: 0;
    position: fixed;
    transition: all 5s ease-in-out;
    width: 0;
}

#background-element-1 {
    left: 0;
    top: 0;
    z-index: -1 !important;
}

#background-element-2 {
    right: 0;
    top: 100svh;
    z-index: -1 !important;
}