.home-page-banner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-extra-large) auto;
    max-width: 1200px;
}

.home-page-banner-picture {
    border-radius: var(--corner-radius);
    filter: brightness(.8);
    margin-right: var(--spacing);
    max-width: 250px;
    -webkit-user-drag: none;
}

.home-page-banner-items-left {
    margin-left: var(--spacing);
}

#my-name {
    font-weight: 700;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 70px;
    padding-right: 8px;
    color: var(--text-highlight);
}

.greeting {
    color: var(--text-highlight);
}

.social-icon:hover {
    color: var(--text-highlight);
}

.social-icon-wrapper {
    margin-top: 4px;
}

p {
    margin: 10px 0;
}

.social-icon {
    font-size: x-large;
}

.social-icon-link {
    margin-right: var(--spacing-small);
}

@media screen and (max-width: 800px) {
    .home-page-banner {
        align-content: space-around;
        flex-direction: row-reverse;
        margin: var(--spacing-extra-large) 0;
        padding: 0 var(--spacing);
        width: 100%;
    }

    .home-page-banner-picture {
        margin-right: var(--spacing-small);
        width: 25%;
    }

    .home-page-banner-items-left {
        margin-left: 0;
        width: 100%;
    }

    .home-page-banner-items-left h3 {
        font-size: large;
    }
}

@media screen and (max-width: 390px) {
    #my-name {
        font-size: 24px;
    }
}

@media screen and (min-width: 391px) and (max-width: 470px) {
    #my-name {
        font-size: 28px;
    }
}

@media screen and (min-width: 471px) and (max-width: 600px) {
    #my-name {
        font-size: 36px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    #my-name {
        font-size: 48px;
    }
}

@media screen and (max-width: 350px) {
    .home-page-banner-picture {
        display: none;
    }
}