.repo-item {
    padding: var(--spacing-small);
    background: var(--frosted-glass-1);
    border: solid 1px var(--frosted-glass-2);
    width: 100%;
    display: block;
    border-radius: var(--corner-radius);
    margin: var(--spacing-small) 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: all .25s;
}

.repo-item:hover {
    background: var(--frosted-glass-2);
    cursor: pointer;
}

.repo-item *:hover {
    cursor: pointer;
}

.repo-name {
    color: var(--text-highlight);
}

.repo-item p {
    margin: 0;
}