/* Background Elements */
.background-element {
    border-radius: 50%;
    height: 0px;
    width: 0px;
    float: left;
    position: fixed;
    z-index: -1;
    box-shadow: 0 0 30svh 30svh var(--background-alt);
    transition: all 5s ease-in-out;
    opacity: 0;
}

#background-element-1 {
    top: 0;
    left: 0;
}

#background-element-2 {
    top: 100svh;
    right: 0;
}

/* Repo List */

.repo-list-item {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    /* box-shadow: 0 0 20px var(--background-alt2); */
    margin-bottom: 20px;
    padding: var(--spacing-small);
    transition: all .25s;
}

.repo-list-item:hover {
    background: rgba(255,255,255,0.1);
}

.repo-list-item h3 {
    color: var(--text-title);
}