@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    --background: #051020;
    --background-alt: #102040;
    --background-alt2: #091929;
    --background-transparent: rgba(5, 16, 32, 0.5);
    --text-title: #f5f5f5;
    --text-paragraph: #aaaabb;
    --spacing: 40px;
    --spacing-small: 20px;
    --spacing-large: 80px;
    --spacing-extra-large: 160px;
    color: var(--text-paragraph);
}

body {
    background-color: var(--background);
    height: 100%;
}

main {
    opacity: 0;
    transition: all 1s;
}

h1 {
    color: var(--text-title);
    font-weight: 700;
}

a {
    text-decoration: none;
}