/* Home Page Banner */

.home-page-banner {
    width: 100%;
    margin: var(--spacing-large) auto var(--spacing) auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page-banner-picture {
    max-width: 400px;
    border-radius: 50%;
    filter: brightness(0.9);
    margin-right: var(--spacing)
}

.home-page-banner-text {
    margin-left: var(--spacing);
}

.home-page-banner-text h1 a {
    font-family: "IBM Plex Mono", monospace;
    font-size: 48px;
    padding-right: 4px
}

.social-icon-wrapper {
    margin-top: 4px;
}

.social-icon {
    font-size: x-large;
    padding-right: 8px;
    color: var(--text-paragraph);
    transition: all .25s;
}

.social-icon:hover {
    color: var(--text-title);
}

/* Main Section */

.main-section {
    margin: var(--spacing) auto;
    padding: 0 var(--spacing);
    max-width: 1200px;
}

.main-section h1 {
    margin-bottom: 4px
}