@media screen and (max-width: 800px) {
    .home-banner {
        flex-direction: column-reverse;
        margin: var(--mobile-max-spacing) auto var(--mobile-double-spacing) auto;
        max-width: 400px;
        padding: 0 var(--mobile-spacing);
    }

    .home-banner-picture {
        width: 100%;
        margin: 0 0 var(--mobile-double-spacing) 0;
        box-shadow: var(--border) 0 0 var(--mobile-spacing);
    }

    .home-banner-text {
        padding: 0;
    }

    .navbar-link {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-items-left {
        margin: 0 30px;
    }

    .navbar-items-right {
        margin: 0 30px;
    }

    .main-section {
        padding: 0 var(--mobile-spacing) var(--mobile-double-spacing) var(--mobile-spacing);
    }
}

@media screen and (min-width: 930px) and (max-width: 1120px) {
    .home-banner-text h1 {
        font-size: xx-large;
    }
}

@media screen and (max-width: 929px) {
    .home-banner-text h1 {
        font-size: 28px;
    }
    .home-banner-picture {
        max-width: 400px;
    }
}



@media screen and (min-width: 801px) {
    .menu {
        display: none;
    }
    .menu-collapser {
        display: none;
    }
    body.active {
        overflow: auto;
    }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    
}