@media screen and (max-width: 800px) {
    * {
        --spacing: 30px;
        --spacing-small: 15px;
        --spacing-large: 60px;
        --spacing-extra-large: 120px;
    }

    .home-page-banner {
        flex-direction: row-reverse;
        align-content: space-around;
        margin: var(--spacing) 0;
        width: 100%;
        padding: 0 var(--spacing);
    }

    .home-page-banner-picture {
        margin-right: var(--spacing-small);
        width: 20%;
    }

    .home-page-banner-text {
        width: 100%;
        margin-left: 0;
    }

    .home-page-banner-text h1 {
        font-size: large;
    }

    .home-page-banner-text h1 a {
        font-size: x-large;
    }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
    .home-page-banner-text h1 {
        font-size: x-large;
    }

    .home-page-banner-text h1 a {
        font-size: xx-large;
    }
}

@media screen and (max-width: 350px) {
    .home-page-banner-picture {
        display: none;
    }
}