#timeline {
    border-left: solid 4px var(--text-paragraph);
}

.timeline-item {
    padding: var(--spacing-small);
    border-radius: var(--corner-radius);
    padding: var(--spacing-small);
    cursor: default;
    margin: var(--spacing) 0 var(--spacing) var(--spacing-small);
    transition: all .25s;
    border: 1px solid transparent; 
}

.timeline-item:hover {
    border: solid 1px transparent;
    background: var(--frosted-glass-1);
    border: 1px solid var(--frosted-glass-2);
}

.timeline-dot {
    height: 18px;
    width: 18px;
    position: absolute;
    transform: translateX(-50%) translateY(34px);
    border-radius: 50%;
    margin-left: -43px;
    background: var(--text-paragraph);
}

.timeline-item-name, .timeline-item-date, .timeline-item-desc, .timeline-item-loc {
    margin: 0 !important;
}

.timeline-item-name {
    color: var(--text-highlight);
}

.timeline-item-type {
    background: var(--frosted-glass-2);
    border: 2px solid var(--frosted-glass-2);
    color: var(--text-highlight);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 999px;
    width: fit-content;
    padding: 2px 8px;
    font-size: small;
    /*margin-left: -10px;*/
    margin-left: 8px;
}

.timeline-item-date {
    font-size: small;
}

.timeline-item-loc {
    font-size: small;
}

.timeline-item-desc-wrapper {
    height: fit-content;
    margin-top: var(--spacing-small);
}

.timeline-item-header {
    margin-bottom: 4px;
}

@media screen and (max-width: 800px) {
    .timeline-dot {
        margin-left: -33px;
    }
}